@font-face {
    font-family: "Kremlin";
    src: url("kremlin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("Roboto-Light.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}

main {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

main > div.fullscreen {
    width: 100vw;

    background-color: black;
}

main h2 {
    height: 5vh;
}

div#titleCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

h1 {
    font-family: "Kremlin";
    font-size: 40vh;
    color: white;
    margin: 0;
}

h2 {
    font-family: "Roboto-Thin";
    font-size: 5vh;
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

h3 {
    font-family: "Roboto-Light";
    font-size: 5vh;
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

div#screen1 h2 {
    animation: h2Fade 1s ease-in-out 2s 1 normal forwards;
    opacity: 0;
}

.specs p {
    color: white;
    font-size: 28px;
    font-family: "Roboto-Light";
    font-weight: 400;
}

.specs p.right {
    text-align: right;
}

.specs {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

    padding-left: 25vw;
    padding-right: 25vw;
}

.separator {
    height: 1px;
    grid-column: span 2;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%); 
}

@keyframes h2Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.fullscreen {
    padding-top: 15vh;
    height: 85vh;
}

div#screen1 h2:nth-of-type(2) {
    margin-bottom: 15vh;
}

h1#A {
    animation-name: letter1;
    animation-duration: 1s; animation-fill-mode: forwards;
}

h1#B {
    animation-name: letter1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

h1#C {
    animation-name: letter1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.break {
    flex-basis: 100%;
    height: 0;
}

img#downArrow {
    width: auto;
    height: 20vh;

    animation: arrowFade 1s ease-in-out 2s 1 normal forwards;
    opacity: 0;
}

* {
    scroll-behavior: smooth;
}

@keyframes arrowFade {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Desktop screens */
@media only screen and (min-width: 600px) {
    h1 {
        transform: translateY(-100vh);
    }


    @keyframes letter1 {
        0% {
            transform: translateY(-100vh);
        }
        100% {
            transform: translateY(0vh);
        }
    }
        
}

/* Mobile screens */
@media only screen and (max-width: 600px) {
    div#titleCard {
        flex-direction: column;
        height: auto;
    }

    h1 {
        font-size: 20vh;
        transform: translateX(-100vw);
        margin-top: 5vh;
    }

    h2 {
        writing-mode: vertical-lr;
    }

    h2#fnollk {
        margin-top: 0;
        position: absolute;
        top: 36vh;
    }

    h2#info {
        margin-top: 0;
        position: absolute;
        top: 37vh;
        right: 0;
    }

    @keyframes letter1 {
        0% {
            transform: translateX(-100vw);
        }
        100% {
            transform: translateX(1vh);
        }
    }

    div#screen1 {
        padding-top: 0;
        height: 100vh;
    }

    div#screen2 {
        height: 100vh;
        width: 100vw;
        /* margin-top: 10vh; */
    }

    div#screen2 div.specs {
        padding-left: 15vw;
        padding-right: 15vw;
        margin-top: 15px;
        align-items: center;
    }

    .specs p {
        font-size: 20px;
        display: inline;
        height: auto;
    }
}
